<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1054" />
    <add key="mainForm.Location.Y" value="302" />
    <add key="mainForm.Width" value="731" />
    <add key="mainForm.Height" value="640" />
    <add key="logSensorsMenuItem" value="true" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/intelcpu/0/clock/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAIuMKdDseHHHg4HhwP+/Te1mDEDw5fAkRwAlAwFzGAAAAA==" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAIuMKdDseHHHg4HhwP+/Te1mDGBwzxEAxaogtRgAAAA=" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAFvY5anZ8eKOBwPDgf8THzIwMQDBrb7NjqFdyWB218Eqx+CgNDDbwfSGQ8SeEDC7QOiA4wKzTDBbccNGx39vUsHsm4vrHVscc8DspQXbHFz/QsR/1a1wWBoVDWZXvVzuoBeZB2bfWDzNQeFZFJi9Vmalw3euSjD7/5UlDu/3RYLZ7I0bHKQlE8Ds9LQVDqaLk8DsQ6eWOaSqQNw558hUB/c4CJtZe7MDd308mH2t4rBDUTtEvENsmcPfOIhf5h5Z7lAukQ5mK9/e71APdbNWzCyHz58hak6VzXAoWAVRIxixykFMPw3ql2UOQv8g/mp7vdNh04cMMLtGZK0DR0MEmN07faNDW08+mH3n52GHzPQYMPtqxSkH5uMQv2RMXOygzwRRc8J7psPFC4kQc6aoOt5eBGGXXl7iaMtUDGaLrjvt8JgXEiazZ+50ODkbooZJe69D6W8IO1lgqUN8WTaYfdx7mUPhZoj7N8/d4PDubCyY/U1jvUPbY4hf4ndtdZj2HhI+/LqLHPiVIHG6+uMmh8k2EDUMDLscpudlQO1ycpz/BhK23zIuOeYGZIHZ05pXOzJMgNi1wi3WsW85JI7OnfnqYCgKCau9JQccbkxKAbMnHJrmAABP3DC/fAIAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMYDBAddLalJVMDYAHHNK4SQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAD2RTShscQDFb9J7WKCeRFkMO8nHxkZocPJs1CSf9/m4voYZzJuyIZH3aKhXL/9778ydt8AYCzZCUXauertHrN7LpEyNBaVIPvI26J7Jf/XrdP79zzn/ycjn/PnLszpJMl92RUKC9HZC3+fw+18PeWYOF4kD7+zyNFqsTAk0VLksLslSYd/vtzi6KPDYO0z9h4r/d9RvzwSyv33h3ROBJYeHvC7QH5PJzSrCdeMWb81oSKxotdj0abDVd1ssJesoXGU2u1uDyO+12PZHRVktdWVEReRcoW7q6CiNewZ0vChO8kc/Dh/IZpGKih1mNjPeMjio270CB/WDFk/LC8gspn67LSB3s1fJk8CHSu5gKxWIeeOZO1Ws/PpK/a+K8it23xvTkFrFLvY0P/Zb6Amd6qieoG7L9SPdTQ4N6WgqGKW+ouM4u42cZaAxEPccGmiX2H26PYiakyHu4DPw3Me/U+4CcOZ0klMM+GLsEs00ELjhPlE5gLQ81ztr5fRIziAMD3fw3oSxfN3Ft4q2MOJw01+2CWmBb0XvN/BzjXmSisOQI33c5FMQm0dxfp7FK6vCX058AgAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAD3RXUhTcRgG8IOIV5JeiCiEH2EXIVKBgYkTvx4aweAgirbSpk7bpk5BL/wgqBExEESZOvd/YaVe1J0QRV6IU/DCoFC6UUZQNJUNhERUsggd/yc8Vz9eHs55n/c8jd674Y9/sxrG6vmHyZQUI/k054exvt2unZP0buqTS7u9Ddqu14L6arf28bCgKtKp7Z8VnHb0aJe2CP4ccb7uF+Q+f6gdHxOETS89LeiM2flOj2DeOqydlS9ItTRrm3mCAlub9uo/hZIF7tZ/XfDzgC6zCRI++q1TEP3u0P69qdByp4OZfYVzRxe9ovD5hDYHBZb33HlrJLmDyfnhgmDN5tJ2JATZNzl/ERDY29ir1CdIq+Qdlt4JYv3/d3YJ5kJ92kP3BRUJdv9aKLhSzS63lhUiTczMflKoGeV86aNCpofO2VNoLB7gfFthM/cBe91VaJhhZidd4ZHB7j/iIdRudfOeeQpnTv47V61C19VW2qLwMsYu1nKFmV+8j9WtkHHNfelABTPP9kMIenmHorogXh085k2OA+g1PczfnoIxwW9t+KYw/ob7VA4GYY86tTP/hrD4hZ5YC+MCKev0jnwCAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAD3RS0hUYRQH8MtgIWKam0QQjDY5lbnRRTKKf/O1UQdRrMkmnfF1xxyFNpVUJOqI4JBE8333TvdGSg8jtIWj6GYUzJXiY6EwCC6mxQSCMliQkA/OAe/qx58D9/zP9yJSYR2K7VQqysJJaNRiUc6+tOwRLG27yJnWEfxKaD+36q0jV/sFaqGSfbclisOt5Kwpgb/ux+TazxJHcc7XDgQyXj8gz0UFTLuXnDIv0Bp1kGu6JcYqn5FvTWhIKLxHdn7XcLWqmZyUpyNnnHeb9GsYtbrJezGJgnLOS30Skd0m8kpcx8N8nkkP6DhpaiMv2oJY+cNOLJconOad4zfOdrBzLl4JLFZ1kMucAVzJ5fzCkoCjmXtdT5a4WMR3sJQIRHt458SnEh+1brLrUML2m7uHDQ0p4C53yoIIN/BM46UgSno5324I4rKHvazrqL/5hNy3qWMt4z73chuoC/DMRpaJRoW7/wiZuLveSf60ZeBfC7/dc5uBtkwnu97AYJS7vHQZCOzzfb6Z75F6TT33WxvPvAubEF6+g2duAh/2HpF/Dsyiy+4hH/tmoLzhf6l5Ifi/8D7/D77CEWkhx1QTU6vs7P5hnAJSRgESfAIAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMUDBketJUHaD3ROWdDg7My8ErsYh1F4Yxl4sGgFX01iSCFcTUQszh8F+u1AyXPxlE1yc4dLJBLjeVG+Emv8JaXDxM1/T4OLbGhdywthRiakwNfZsdplwNY8LIuDsdUX5cHP0BWLg4sF33ynD2NPzMuBq5r+Jh6v53W7CDrfrVgrcrvVnU+BqAOxdzHVEAQAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMUDBjNnBmTD29LwMqHiX4/w38VB2g2NuQBaUvcmRYUI6lH3MsW95EpT9yTHqVgqUfc5x/dkUuPkAH1Vo4ngAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMYDBAvsj15Og7ASHJyzpULaCY2ZeCFzNVbFMOHvvy1Qou8HhW3IOlG3hKH8aJh7jmDY7GsoOcdSJy4OyfRyPPYiCsiMcHb0r4WoWi0bA2Y0liXD1EbUwt7U5bhdKhrIDHF82wcRTHC+dTICyKxxTvZPh4v8T0qDsGY5nvsLYNY62W2Bu9nBcFJAGZ/82zIC7/45XGtw9UYmpcDPZ7DLh4o8LIuDq1xXlQ9k5jvoCMXC7HtolwtW/icyH2+VUDROXcRTIgrEVHPo5iqFsE8e7GpFQdpMjz6pEuPkxDEnwcHC+kA1n/0xJh9uVJhMHD8O2xzC/lDj6nkiGh1WEZybc/ZNtYGoiHKfnwcIhw3H+m3gom8EhNyALyhZwYJgAs+uBQ99ymHsOOUbdSoGy5ziuP5sCdxsAtJ0tyXwCAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMYBBg92R60lQ9gL7JyzpULaDfWZeCJT9wP6qWCZczd6XqTC9Dt+Sc2Bse/nTMPEAh7TZ0VC2gYNOXB7crmMPoqBsBgdH70q4mYtFI+B6G0sSYWoYImphbnvhsF0oGSZu/7IJJr7B4dLJBCibwzHVG6bmhMP/hDQoW8PxzFcYW8DRdksO3PxFAWlw9m/DDCi7wOGOF1y9Q1QizF8rHNjsMuH+fVwAc7OCw7qifCibxVFfIAbKlnF8aJcID4c3kflw9ztVw/1oL5CVCA/nfo5iOPuuRiTcHJ5VMDU7HGIYkuD2Ol/IhsWXw8+UdHjYpsnEwd3Z9hjmlwQH3xOw8OlwiPCEx6nDZBuYmgP20/Ng4fDAYf6beHh6yA3IgruZYQLMrhkOfcuT4H6PupUCt2v92RR42AIAwnG1a3wCAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMQAB44IHLkeuJ0HYDsddnrCkg9kME9a7ZOaFQMQ/8LteFcuEq9/7MhWu/ltyDkT9jsUulRsg4gwPprswfC+1hLGdqhMh4htOughkQdiMR3hc9+0vgutdVxgJ13tCt18Uxq40zoCIV9x12aueAGF/MHTNDciCsBteuDBMSIe7p295EtzMqFspcDPXn0WwAc+OXFIIAQAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMQABz80C1yPXk8DsdBdJ1ycs6WA24wNxl8y8EDD7XE6V61WxTLj6vS9T4eq/JedA1Cv8da7cABFnbDjlzPC91BLGdqpOhKjXW+wikAVhz6r0cN23vwiud11hJFzvCd1+URi70jgDrnevegLcPbkBWWD2M98UV4YJEDebSL9z6VueBDcz6lYK3Mz1ZxFsALX0H/gIAQAA" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMQAB44IElyPXkyBsB3eXJyzpYDbDBH2XzLwQiPiHfperYplw9XtfpsLVf0vOgajfoexSuQEizvBA3IXhe6kljO1UnQgR3+DpIpAFYTMe6XHZt78IrnddYSRc7wndflEYu9I4AyJeEeuyVz0Bwv6w0SU3IAvCbshwYZiQDndP3/IkuJlRt1LgZq4/i2ADAMFHxtIIAQAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAKu95a7Z8eKOBwPDgf9bJzIxMYCBodOR60lQtpHTE5Z0KFvPKTMvBMo2cLr4LAOu/qBkGpRt7PQtOQeuZtLjJlEYOzYfZqaO08G7ZwRg7DteML2aTsf5U6FsDSetYkN2GFtfIAYqru6Uo5oIZas5JRbnw9kPymDiKk5FeYlwc/btL4LrvZ4TCVfTVK/PDmP/TIH5UdkpTSYOylZwurz6FAuMHeGZCdc72SYNzq40hoWDqtNe9QS4X3IDsuBuuFSRDmfv2ZcEd3PUrRS4OevPItgAOchIaZgBAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAAu7/z2+48UdD4YILlsA6V6JFgwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADsuMUGz48UdDwaGA//7j6WbMQCBymZOJwAhBFLLGAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACXRW0iTYRgH8A9FCiQl2kV3IaigpZXg1VjyVzykQumGOVJrHlKbRwSxZCgTTVapLArBEJEpZFhKF6EJaSAMFEV07nvdwW/iGYMYy10kTXme7+rHw//9nj/ve0mrSeg9dOdI0nwosdQWJl18huhZrKWXkwdu/cDc9VJys3kOXXk8VyaXsH/VSP66sY6Aju1Ic0BnqSDb+zfw/GMlz72bMOt53n7HifDIp+SDaAHrroUcWSUQvF1MHrTLyM4pIGuNHvyf5vxxnQ9/PAZyhGYHtlz+Z6ZXwXAK94y1umEqqiGPRnjgL+LO+dfc8Ldyn1CSjOKtRnKn2oPuulpyy6KC9EnODFsVFPY9Iz/u3Ma4jV2t3sJZGO/9GxTINPLZ5NcCD5a5w7cvAv/aeK/JLCP/BffxrcoIV5eQb5a70PaTz36euLiH99znikmg4WEVuVER8O7oyVmfBDrWudupJMMwynf+fUzgaIr3RqlceLfSRM6Od+Fyaxm5sMaFu/e4z5uQwFsT9/+tP0HcPHvkUQAxWu4TGJLxJJXzds0mJu7Xk6WgE+oezutSZViWuKff58TMq2pyhcoB1Qd+r5d7v5A2wpmMgwWc9bNvxC7gHMHi8Sl8AgAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAFvY5anZ8eKOBwPDgf83FnExMYDBA6vMnUlQNgNDnVo6lO1g9VwlFMpusOxKS4OreaiaCmUvsCpqyoOLF85Jgev9IRsNZ8ecKICpsTpWHQFXv7ixGm4+l0IE3Mw4s0S4mv8FSXA1XmsR7uTggLlBwPoDaxyUrWB9a0kS3F/XTVPh6jOrMuDqu6bnwMWrdBH+WiGcAXezfhMsHBqspqSkwsXTfTLh7C/7QuFmSvQUwtRbu9+Ngrthu1MC3O+dhYVwu67fToT7K0QV4UfT64iwSpGAh5VV8otEePhoqSXDxZfIXmaBsR9Fx8PN2fI8De62pRcR4aY9OwMeVus00uHu/F+fCRf/fzIOblfKnmwo+4AVUyY8bVifPwd3s9X3DSlwv7O8TYHbBQBl/bbHcAIAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAFvY5anZ8eKOBwPDgf+/r7EyMYDBC2vX7UlQtoNViUg6lC1h810+FMo2sFash4kzMKTvSIWyL1gfLM2FshushFekwNXvuRsNZ8/NzIeyf1i7ykZB2QusLO9Wws1slImAsldYn/ZIhItHtEDd5iBi17kV4c6P72F2rbGZNjcOyi6wuTYBpsbD5px/GtwcviSY+zNsfnLnwsXXrkKoaeGCqQmwNhTKgPnL2j8Y5t8d1qWJGfBwCwkJh7nZZu1qmB8rbOYdjYGyZWzMgxOg7AnWtYvz4XZ5GSH82GqeBA+rdcuK4G5YtBEWJsdsFl5IhJtZq5wMVy96MRvuTvkImPs/WBfNgYWJhM0TWZgfWWw4i5LhYdhzA+YXDhvbIJjeBdbF3jDxbTaTfOLhcb1GNxvuF45imHoBm4JrMPeftBXeDYuXDmvlBylwPwIAIYFFCHwCAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIBAt4vP8cj1JDB7Butzhycs6WB2Ascxh8y8EDD7LA+v08VnGWC2LMMCx4OSaWB2x9yZjt+Sc8DsoPvcTjuyUsHs1/27HG0fRYPZJg+WOuwpzwOzPwWpOq0+HAVm39H+5hiTUQlm/7k32XGxaASYfcWSx6nFNxHMLnHrdwxdAnEbS8E6x19HIewItsUOB6dA2B2WFo5MvxPA7Mn6bY5SoclgNvuUbMf/CRB3/p5i7XjmK4TNmibmZLsF4mbWrNWOiwIg4sqWiQ6/DSF+vHx0ksMdL4j46h2XHI7zQ/zVLMTv+KUwE8w+5vTYoaYS4ua0mCDHXe35YHZpVoajvkAMmM0WH++YowrxS5dzgmNiMUTN5LPijo0FEPE/7vsdLpZA2Aveyjju218EZl9UP+zglRYJZt+QNXQs2ApRE7esw1HmH4St9U3VsflSNpgtcF7X8WcKJO7S38k5psnEQdyfIu3Y9hjilzW8Xo6+JyDhs69T1ynCE+IXn6h+xwkaEDV9Oy0da9wh4TBpU4njXnVI2H68/tIhNyALzG7kZHe8VAGx61q6gOOefZC4yPgR6hh1KwXMDpBgdVx/FsL+ffyNAwCqflmQfAIAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIDgkl2w45HrSWA210Rrxycs6WD2Pb8ix8y8EDBbapWS08VnGWC24rPDjgcl08BsN+uDjt+ScyBqdhg77chKBbOnyvI62T6KBrM33G5z3FOeB2YfuhzqtPpwFJj9IVLbKSajEswO3fvJcbFoBJit8d/GqcU3Ecye++StY+gSiNvYGdmdfh2FsFVM2hwPToGwfz7c5cj0OwHM/r74qaNUaDKYXSJ91fF/AsSdb0X2OJ75CmEH83k42W6BuPncZFanRQEQcXvxIsffhhA//q1odLzjBRE/FT7J8Tg/xF9Bp5c6finMhPjLdZpjTSXEzanWJxx3teeD2W3LLjvqC8SA2aqzzznmqEL84nP4nGNiMURN/qGVjo0FEPGK+k7HiyUQ9k35dMd9+4sgYbu8xNErLRLC5t/uWLAVoqbj0nNHmX8Qtt29DY7Nl7LB7CM7tjj+TIHEnUvrWsc0mTgwm23dase2xxC/LAw67Oh7AhI++/bHO0V4Qvyyjvm94wQNiJq7Absda9wh4bDmzBnHveqQsL2w1cIxNyALzLbp8XK8VAGxizc3xXHPPkhc/N6x1zHqVgqYvdRqgeP6sxC2/K0ZjgCmCWp9fAIAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIDg4nRX1yPXk8Bs1V8irk9Y0sHsm4tKXDPzQsDs60D2xWcZYPaMbjHXg5JpYLaXSZnrt+QcMPsOUM2OrFQw2wJopu2jaDD7u720657yPDDbVDzDdfXhKDD7fX2ha0xGJZh9A6h3sWgEmP0OKN7imwgXD12SBHfDr6MQ9oqMGy4Hp0DYGYJ6rky/E8Ds6nf5rlKhyWA2111v1/8JEHfyzLVyPfM1DW6O7ZYcuDsXBUDEp3RHu/w2hPhxQ4aw6x0viPgx16sux/kh/uK4e9rlS2EmmL0eqKamEuJmjtg8113t+WC2wq9IV32BGDBbBRieOaoQv1gB7UoshqixCDdxbSyAiN8ChW0JhM0hG+u6b38RzO8uXmmRYHbNujjXgq0QNRVAP276DWHbAM18eyUbzOaTlXD9mQKJuwOtaa5pMnHwMGl7DPHLl3odV98TyfC4iPDMhIfDBA2IGiWgm2vcIeGwXsPdda86JGyPsbq45gZkwePlUgXELkUrNdc9+yBxYQ00J+pWCtze9Wch7LUZEa4Alz/v53wCAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf8ruiSYGIDApEfM9fDdJDDbYrqr689/aWD2UVYX1zeWYWD29UUlrhaumWC2KVBN7blUMPsaUFywMQvMvgNkr8hKhZtz8UYsmJ07kdv1SEUOmH2wNc2V9WEM3My2wHIw+waQfUo0Ai4+MSARLs5wMAkurnMewn5d/9FlQguEzR2r6frkRSJczezuZDCb6663679VqXC/JPCkg9myVtmuS5hzwWz/EifXIqibp3RHu9ypyID68ajL73WQcGhYd88lhA+i5hjQHJkHEDX7jn53OdoZBWb7mZS5hinlg9kKvyJdL0tA/KjyS8T1YSXEbVbAMDFThKhJF9Rz5bwEEQ8A6uUXgLDlgG6L/FEAZr/7f87FKTUazK5ZF+eatxqi5irQj3sNIX63AZrZfwASL7O6xVyjp6TDw83rWiw8HGLeQcS/1Ou4Nh1PhsfF6rhMeHyF3k8Bs5WAbt5WDvHjbaUg15+2EHtVqsxdCw0Q6o0rIGaah5u47tgNcc+mFSqu+15DzEmbGOAavR/Clgf6CwCZUc1HfAIAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf/LH4oxMQCBSY+Yq8XFJDD7OKuLawFnOph9c1GJ6z2hCDD7OpAtNz0TzDad7uqanpgKZk84neN64WAGmH0HqGZ5LkT89iMH19kf4sHs7/bSriaZ2WD2wdY016/8cXAzPS1KwewbQLbTz3AwW84q27XAOxEuXnEwCa7+6nkIuyGPw3V6P4S9KiPCde8BCHs1kJ3xJBnMtgC6s20uxD23Fn1xMf0OYVe9y3dtv5ELVyOSDBHnuXva5VUhxC8bMoRd1/angdmf6j+6BDSkgNnfgH5R2gxRw3uXzbV9XgyYnTExwPUnfy7cDVx3Y8FslV8irh5XIH6xAto1a2IemD3ttLqr6DeIeIBJmSu3YCLcbdvN8uF+/L0AYk7NujjX+84QNVeB4XB0EsS/NkAznx6CxMusbjHXxcIQN695YepqFh4Htze+HxKnXHOtXJezQPxSDTRTtSoTHg75zyHhwAEMh4XZEHO47nq7XtCB2HUMmDbuS0L8bglU/60BYuZUoF8+bYeoEZCVcN3FnwYPK665kLgwB6oHAKoD+UB8AgAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9na0SYGIDApEfMlfFoEphtMd3V9Wl4Oph9c1GJq+PFSDD7OpCdvCkTzDYFqnFgSAWz39UXutb/TwOz7wDVpOamws1JZ4OYaSOu7Npvmg1m+35JcfWLioPrLRMrBrNvAPWWvQsHs9li81wFXBLh4gFnkuBu6LsCYX+2l3bd1g9hHzlq5MpyPxnM5rrr7Zr7MhnuhkuzIO6Z1n3bRWlfCpg96XSOa9nZPLiatjSIGp67p12Uv0P8PqtbzNX9EcRfmzWYXP/lQPRaiL9wyVHMALMb1km6Cq6D+EXhV6TrjXdZYPbqjAjXsunxYPZMoDl5+hB3WgHtOl4Ksfdoq6Kr260EMNsOKH6MBeHHqxG5YLbaLxFXjwsQc2rWxbk+DYaEyVWgmvJKaNgC9bpcyIS7Wfp9MjxslYUT4PZ+XQXxS52ejauDLsQvB1rTXOc2QfRaAeOo8j5EXAlor19eOjx8/A0hdh1jdXEN/wcxxxIobjkBokZ+1wmXgOkQNQKyEq7rTBB6D0+EiOdO5HYFAB29feN8AgAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9pSkJMDEBg0iPmunNdEphtMd3VNdcuA8w+yuri+rA2Csy+vqjE9YdqFphtClTTdCoFolc8w/WvTiqYfQeoJrsgFW6O6o1kMNtGXNnVOS4TzJ50Osd1fmgC3Mzv94vAbB+TMldO7TAwu+pdvmtWaCKYfQOopv5GElx95FkImzNW07V+KoR95KiRq3IlxD2WQHv7/VLgbihYAXHPzG4x1xvrIWy22DzXiq85cDUvr0LEee6edvnPBPG77XQG11LHNDD7pKuAq/RviJmf6j+6nOlIB7OtgP6a9QTiF3NgOFw8CdG7OiPC1dwB4v7P+21dp3dC3GkFtCsxGxKGyr9EXH9ZQcLnFDCcL4cnw/2oW5MNZqsB1QS9SISb+X8ChH0VqKazFGJm0JZg1/eTIGE7C+hHi8MQcctwE9eOqkS4vVuCIH482Jrm6hMC8YusVbbr5FUQvRsyhF0fp0LUmAPVb16TBg+feT4QM7/bS7smPE2Fh3NcLyQcVgLdxrgCosYaKM6mlg53T9AMiPj9Rw6uANB30nt8AgAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9Lt/MzMQCBSY+Yq9iKJDDbYrqr6xYVCNsSyI5OhLCvLypx3ZWXAWabAsVtpqeB2XK/Il2dfZLB7DtANVk5qWC2yi8R19nzIewNK1Rcndalg9kf7BNcU5DMlOHOB7NvANlLTkeA2ZNO57h+KUqAiyu+RKi/fQbCDtrC5yq5DMJOvpjoymeUCndzfUcK3C8XxCDiPHdPu/yog7i56l2+K0tbNpidIajnuqg6Da5mVyrEj1s1mFyXC0DEN2UIu0pcgJgZ8OWJy4+vEHHFKnNXz/8QN3z+7+favwYivjojwjWcCxImk4F+SX4IUWMFdM8eD4j507vFXDMcIGpOsbq4htalwP34OSYLzJ4FVDPjbzLczM3+iWD2VaCaKfshZnLLxrpOSUmHqw+fC1G/TsPdtf06RM1RoPlfOFLgYfu1GsJOAYab0pNMeHx1KkLCyhzoTnUDiF9uAe3afBliTvM6SVf7aylwfylOh9jLcdfbNWkmRI01UG+JDsI9C6YhxAH4cO9SfAIAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf/v90gzMQDB/F0nnI5cTwKzlYDsJyzpYLYikJ2ZFwJmywPZF59lgNkKQPZByTS4+LfkHDBbBcjekZUKZssB2baPouFm7inPg+tdfTgKzo7JqITbtVg0Ai7e4psIFw9dkgQX/3U0CS5+cApCnOl3AlxcKjQZzv6fkAZXc+Yrgm27JQfu/kUBCPHfhhlwN9/xQojvbjzHAmPXVEbA1exqz4er0ReIgdubo5oIF08szoeHSWMBRFwZFJ4lCDUcamfg5hdsTYSr3/Qbof7tlWy4+T9T0uF6JwpO4oSxJ2ikwfXWuCP8slc9Aa4+NyALbs6linS4+j37EGkg6lYKXM36swg2AJjBj49AAgAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg6nRwVhKUbe3kUQhjOzkd5E2BsvOcltSnQdkRTsHRGVB2lNPVmkQou9jpeVcqXLw0JB3K9nCadxcm3uB0+0sylF3hdLgoF8pOc3r5JRzKrnK6GpsIFw94AHNPttPcezC2rdP3pUlw9+sww9zm71R2DOZmT6fTj2FsXydHZph7ypx2SWZD2QlO8lNgbrN0WvEQ5i8zp1u7EeIfdWBsO6dVMTC7bJxWSaXC3fCrE2aXvdO0bwh2pibMv25Oh6XS4OH8ziwZbs5MqzS4XavnZMDZAe9T4eboMCZA2V5OdXYpcDOzjGBqnJysemDiVk79MjC2iZPkaVhYuTvdXZQCD+cXHplQdqCTi0Ua3Jwkv1R4GLIxwtxp4aTJkAJ3f8+OdLhd/xth5ns4VbSmw9UkRcDEjZwAot6swXwCAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg4nRwVhKUbebkUQhj2zkd5E2BshOcltSnQdleTsHRGVB2gNPVmkQoO8npeVcqlB3mVBqSDmW7Os27CxPPd7r9JRnKznI6XJQLZYc7vfwSDmXnOF2NhZnp6xTwAOaeEKe592BsK6fvS2Fseycd5jS4X8qOpcDtPf0YxnZ0cmROh/tll2Q2lB3pJD8F5jZzpxUPYf4ydLq1OxXO/qgDYxs5rYqB2aXvtEoKJm7p9KsTZpe107RvMLaNU6ZmMtydh6Vgek2d3pnBxA2cZlrBxE2cVs+BuUHPSfdEKly9v0YClG3htNgyBa7e1RymxszJqicF7uZ+mRS4OyVPJ8HdeXcRTDzP6YVHJjxOXSzS4OYk+cHMdHNiY4S509hJkwFhb8+OdDj7f2MS3J0Vrelwu5IikuB+AQCqmbb+fAIAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg6XRwVhKUbe7kUQhjmzod5E2BslOcltSnQdk+TsHRGVB2sNPVmkS4moMdqVC2n9PssHQo28Jp3l2YeL7T7S/JUHas05EImJkeTi/44qHsIqersYlw8wMewNwT4DT3HsJt35fC2HZOOswwc5ydyo6lwMVPP4axbZwcmWHuSXbaJZkNN7M8B+Y2Q6cAzkwoW9/p1m6E+EedVLi9q2Jgduk5rZKCiVs5/epMgfv3v/wJFhj7sBRMvZHTO7NkuJkzrdLg7NVzYOGp7aR7AmampZO/RgLczMWWMPMNnFzNU+Fsqx6YuI5Tv0wK3G2Sp5Pgfr+7CCae5/TCA+ZHbycXC5gbTJyS/GBmWjuxMSbDzddkSIH7vWdHOlz8f2MS3F9vtqbA/fJOHWaOlhMA0VybI3ACAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg5XRwVhKUberkUQhjWzod5E2BspOdltSnQdmhTsHRGVB2gNPVmkS4mp0lqVB2kNPirHS4OfPuwsTLnG5/SYayo5yORMDM9HF6wRcPZWc6XY2FmenrFPAA5p4Ip7n3YGwzp+9LYWwnJx3mNLj6smMwN9s7nX4MYzs4OTLD3JPvtEsyG8r2cirPgbnNyKngK8xf+k67ziPEP+rA2IZOq2LS4GpWScHEbZx+dcLssnDa+AnGtnby002Gh8NhKZheY6d3ZjBxA6eZVmlw81fPgblBx+n4yUS4+q1qMDNNnbbpwdgmTkZOMDdYOVn1INT0y6TAzZE8DQsrc6e7i1Lg4fDCIxPKdndysUiDh22SH8xMOyc2xmR4OGgypMDV9OxIh7vtf2MSPBzebEWEw3IGmDnaTgD2C+0wfAIAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg6HRwVhKUbeHkUQhjOzgd5E2BsrOdltSnQdn+TsHRGVB2hNPVmkQou8hpZ0kqlB3utDgrHcq2dZp3FyZe5bT/bDKUneX0AG5moNMLvngou8TpaizMzDCngAcw9yQ7zb0HY9s4fV8KY7s66TDDzPF0KjuWAvfX6ccpcHFH5nS4+bsks6HsOKfyHJjbzJ0KvsL8Zea06zxM3NTpow6Mbe20KiYNrn6VVCo8rH51wuyyd/pxB8a2c2J3Toa787AUTK+l0zuzZLiZM63S4OG/eg7MDYZOx08mwtVvVYOZ6eW0TQ9hl5ETzA0mTlY9KXC9/TIwtpGT5GlYWDk53V0EE69yyjXKhLL9nPb7pcHDNskP4S82xmS4fzUZUuDu7NmRDnfb/8YkeJi/2ZoCD8PlDDBzDJwAnljK4nwCAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg4XRwVhKUbeq0WQHBlp2XDGVnOd21T4ey/ZyCozOg7ECnqzWJUHaG086SVLj44iyYemuneXdh4kVO+8/CzAx3elCfBmVHOb3gi4ey052uxsLMTHAKeABzT7zT3HswtpXT96UwtqOTDjPMHGensmMpcPHTj2FsVydHZph78px2SWZD2Z5O5Tkwt5k4FXyF+cvAadd5mLiR00cdGNvYaVUMzC4zp1VSMHE7p1+dKXC3/biTAg9DdudkeDgfloLpNXd6Z5YMN3+mVRrc/NVzMuB6s/cmwtlWk5PhenvPwcw3dDJySoWzrXpg4vpO/TIwtq6T5OkkuJvvLoKJZzjlGmVC2W5O+/1gbrB3SvKDmWnjxMaYDHebJkMK3M09O9Lh4v8bk+Dh8GYrQs1yBpg52k4AxrohhXwCAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg73RwVhKUbeG0WQHGNneSnZcMZSc43bVPh7L9nIKjM6DsYKerNYlQdrrTzpJUKDvUaXEWTL2t07y7MPECp/1nYWYmO6XKpUDZIU7JBTBzcpyuxibC7Qp4AHNPmNPcezC2ldP3pTC2k5MOcxqU7elUdiwFLn76cQrcj47M6XC/7JLMhrJ9ncpzYG4zcyr4CvOXqdOu86lw9kcdGNvaaVUMzC4Tp1VSMHEbp1+dKXD2jzsp8PBkd06Gix+WSoOH7TszmLih00yrNLhdq+fA3GDglL03ES5uNRmm3tKp9xzMfAcnI6dUuDlq9TBxI6fFmgi25OkkuPvvLoKJ5zrlGmXCwy3WMw1u/pFgmJl2TmyMyXA3azIg/NWzIx0ebv8bk+B632xNgbt5OUMq3C8AcCdUvHwCAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEDAw1XgcHBWEpjNwOBhv1kBxn5oLzsvGcyuWLTQ4a59Oph9jVPPITg6A8yeMHed/dWaRIj6BmuHnSWpYPZ24R/2i7Mg6sse/XGYdxci3pXL57T/bDLU/GkOqXIpYPaTnx8ckgsg5mx7EeJwNRZqJkOVQ8ADmHv0Hebeg7BDHI/bf18KE/9lr8OcBmanqls5lB2DmNk197jD6ccQtoJ1pb0jM8Q9D0UWOuySzAazGRu8HMtzUqFq1tkXfIX4qzJJwWHXeYj4Eb9yh486EPYJPyWHVTEQu6w2HrVfJQXz7337X50Qu/zOsDr+uANh3+kMdmB3hvp3AY/jYSmI3gqlnw7vzKDiDUoOM60g4paFHQ6r52RAzTxmn70XGg4Ozx2sJidD3RDi0HsOYn7Foz4HIyeIG+5wijqo1UPERawrHRZrQtgpy/sdJE9DwupN1zLHu4tSoOF2winXKBPMPtb/zPGyCywMFR38IiBm5iXddmBjhMWXh70mA0RvA88Ju54d6TBxu/+NsLg4YfdmKyLMlzOkQtNPhwMAsrlhCHwCAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDECwT9TK4eCsJDAbBDYrwNgedrLzksHsI2ohDnft08HsGyeXOwRHZ4DZExgTHa7WJELUO5g67ixJhbAPrHBYnAVRv0FY12HeXYi4SPcXx/1nIWZumszjmCqXAmafWsfskFwAM6fZ4WoslM2g7xDwAO4eh7n3IGyF0x7235fCxE/Y6TCngdlzIzocyo5BzBT5fdPh9GMIm6GB08GRGeKejmvHHXZJZoPZsf1tDuU5ELc5sHnYF3yF+Eu9zM1+13mIeFGSpcNHHai/GNbbr4qB2OW+sdx+lVQqXP2vTohdSemcjj/uQNjvWo47sDsnQ90Q4nhYKg2q/pj9OzOoOIOYw0wriLiIdaXD6jkQN2iW9Ttk702Eq7GaDFGv/q3esfcc1K7lxxyMnCBueMPS56BWnwKNo08OizUh7DudHA6Sp6FhtWGz491FKbBwc8o1yoSEw8zvjpddIG6oeHTAwS8CYuYxvoUObIwwd3rYazKkwMOhZ0c6PPz/N8LiYprDm61w8+2WM0DMmTD3gT0AOAMmJnwCAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDECwY84zu4OzksBsBgYPu80KEHblRQ972XnJYLZI923Hu/bpYPamz3qOwdEZYDajUZPD1ZpEqN5Eh50lqWD2hLkP7BdnQdSvEl5rP+8uRNzaUNBp/1mImUf9lBxT5VLAbIPWKIfkAqg5Ds8drsbCzFzvEPAA7jaHufcgbAc2D/vvS2HiYvY6zGlg9rVORYeyYxAzpfYpOpx+DGHHq3M4ODJD3POGRd1xl2Q2mC0w/6JDeQ7EbfHLRRwKvkL8BTTEbtd5iPiUV8X2H3VSoXZNs18VA7Gra66owyopiLh6mZvDr06IXXoby+1/3IGw3x+xdGB3hviXocHa4bBUGlT9FPt3ZjBxToeZVhDxVHVFh9VzMqBheNw+ey8sHMQcrCZD1Keon3PoPQcxfxuLmIORE9RtDSEOavUpcL2LNSHsb+4iDpKnIWH1RmqF491FKVAzTzjlGmWC2VqPbjtedoG44cQ5UQe/CIiZc2+IOLAxQuxdcmOKvSYDTK+Hfc+OdHj4/2+ExsUBR8c3W+Fq7JYzwMJnrT0AL6ICa3wCAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDFBwcFYSnL1ZAcYWs5edlwxmz51xwOGufTqYbSB60CE4OgPMfnPktcPVmkSI+gXhjjtLUsHssk1bHBdnQdRvEBZxmHcXIq7x7I3j/rMQM9+U9DimyqWA2eacbI7JBVBzHJ47XI2FshusHQIeQN1zYIXD3HsQtgNblf33pTB3nrDXYU4Ds+fdiHcoOwYxc8PkJofTjyHsE36cDo7MEPdUvVR23CWZDXFPxCyH8hyI23S/KTgUfIX4C2iI3a7zEPEzH1wcPuqkQu36Zb8qJg0eVqukIOKWH9c6/OqE2HXUr9Phxx0ou++gA7tzMtxfh6UgeuPT+xzemUHEHwVyOsy0goovj3dYPQfihk2XOxyy90LD4YCjo9VkaLixKDn2noOYv8+2ysHICeKGjcUZjmr1EPHpN37YL9ZMgYYhp4PkaUhYvfm1xPHuohRYuDnlGmWC2Tc77zpedoG4oeJRn4NfBMTMORI8jmyMyfD0oMkA0Tv3hptDz450aLwLOv5vhMbFA23HN1shavzedDgsZ4CYs134vj0Au8aTynwCAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAwoemj7cFZSWA2A8Mv+80KMLaYvey8ZDA7iZ3f8a59OpitURbvEBydAWZ3Fs5yuFqTCGZ3FTU47ixJBbPvdCo6LM6CqN9yuddh3l2IuHoJv9P+sxAzyx/VOKbKpYDZjpw7HJMLIOYwCKg4XY2FsF0NXzgGPIC4Z65FgOPcexC2A5uH/felUHc2cDroMKeB2W9cdB3LjkHM3HC5w+H0Ywi77f1hB0dmiHvCFMMcd0lmg9n8/yY7lOdA3VZWYV/wFeIvByB713mIuKmJgsNHHQhbwVrUflUMxK7twroOq6Qg4knHxR1/dULsmiCr5PDjDoRtLejlyO6cDHXnIofDUhC9x/qmOLwzS4a7f6YVRHxD8DqH1XMgblglfMw+ey80TA6scLCaDFF/U7PPsfdcCkyvo5FTKpSt5KBWDxF/13LcYbEmVA3DCXvJ05CwKqud63h3EVzcKdcoE8xW037heNkF4oaj59Y5+EVAzAzo4XNkY0yGpw1NhhRo+IvZ9+xIh4p72P9vhKWZKvs3WyFq9DausV/OAAvb+/YAU9/J3HwCAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAQKtTpcHBWEpgNApsVEGzZeclg9obLHQ537dPB7H/x7o7B0RkQNQ4GjldrEqHqT9jvLEkFs4seuToszoKof6FX5jDvbipUvZ/T/rMQM/16tjmmyqWA2WUvDjgkF0DM+WN20v5qLMzMX/YBD6DuaeB0mHsPwr6gbO3wfSnMnVUOOsxpYPbciMsOZccgZtZPcnM8/RjCVjfjdHRkhrin7Ber0y7JbDB7Kfdyx/IciNveawQ7FHyF+EvB+qf9rvMQcX7rLIePOhD2O5cVDqtiIHZtFI53WCUFEffJEXX41QmxK0ndyvHHHQj78LnNDuzOyVB3PnQ4LAXR+/++ouM7M5j4evuZVlD3S8x2WD0H4oZtpfsdsvdCw6Eh18FqcjLU3gqH3nMQ8+tmizkYOUHcoF72w16tPgXqzs8OizUhbDWz3Q6SpyFhVfZ3pePdRSmw+HLKNcoEs5+bvXC87AJxw5wZEo5+ERAzmQ4cc2BjhNibqh7soMkA01tl37MjHcr2sPvfCDH/hJ+1w5utKdAwdLdfzoAIHwBoq94ufAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAg0/PV/uCsJDCbgeGX3WYFCHvCWTV72XnJYPbR40KOd+3TwewD3LccgqMzwOxjTasdrtYkgtk3A5gcd5akgtm7bY45LM6CqD/cU+Aw7y5E3DlcyGn/WYiZz0+HOKbKpYDZv/LYHJMLIOZcf6XteDUWwm7I/uoQ8ADiHoMXcxzm3oOwV9Qts/++FObmh/Y6zGlgdnToYoeyYxAz2a4ddDj9GMJWXJXt4MgMcY+FbZDjLslsMPutH79jeQ7EbQKMH+wLvkL8ZXNiiv2u8xDxsOsmDh91IOwpbpwOq2IgdsU0v7ZfJQURX85Y4vCrE2LXMsZDDj/uQNgCnw47sDtD/BtW+sbhsBRE77fceQ7vzCDi35LYHWZaQcRFqpscVs+BuGHmUz+H7L2QcFjFtcHBajJE/a1MScfecxDzS1dOcTBygrhBSXe2g1o9RPzc9pkOizUh7OpwVwfJ05CwmntmuePdRSnQcDvhlGuUCWYbr3zmeNkF4gaGBwsd/CKg/lU77cDGCLHXduM2e00GiF7bkzPte3ZAwlOC4YP9/0Zomjm20uHNVoiaVe9X2i9ngJgTcZXHAQBZtaWDfAIAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACXSX0iTURgG8DFvjK4Uy7ySLnKWhJh0o2U+QmQaljVkwrIsU9Nl9gdRcQWWfxikYGQ3YsskYqEok317vw2bf+4KaQhepGUMEaUbiUgiWY33+a5+HJ5z3odzvt1A0dH+rbVSiyXyr+DPmNWS+B75FxAtuaF+6VhA+NBV9ciPeTwp57pxYBabKc3q3q4QftnpxeQQ7J6b6u/FITSN1Kk7n5rorub6gyYTSfuvq71RwdCGR90VEOzmOtTOLcG50kp1aksQ8Wnms2wGdr7WqqMbAYyX8Uyv3cDoCfas8AfhrmrkmQNB/Kxi5/Bqwm3s8ybDhOPLXXWlO4ge1211v9NAyQQzYZeBywP16mOLBt6O09n3BXtWzn3XJzjbzL12n+DiJ3awvhL8befcmbjgQgf77NsUJBU61flpgvYP3FvuTdzDC/ZZmRS0XLqltg0KvsWq2SeRebzMbnGbidox3vn6a8H2FOdmHBc8X2pVl9kEyW016tOpgrwi9jnVI3jmZv+h934cidCdmdM4fIV9hn8Lrp1k/rNhwnf+jjonx0RhL/MV6SY8H9kzlmdC+hr4nxwMIW2Y7+WKRXDGy8zD/DnsDdK+e3P4D1/5GJN8AgAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAPu+zU6z48UdDwaGA/+tfi5iYgCCPJu3DhedksBsvhXvHPZIxILZP6I/ODR7Q8SP3mR0fCaYDWZr8bA7fgmBsNd9ZncM6UoGs4ua2R2z5qSA2Q5/OBybIiHi/gacjszcCWD250Qux0lPusBs6xlcjt/1I8DsWhMuR3ePQDCbX5PX8d9GiPpn2/gdP9xNBLMnWQs4LvGCmPk1mt9xnhHEnTPn8TjWhmVAzHzB4/gpDOLmPb5AdhnEPe8ucjpG3MqHmMPF69iakwlmK/vwOzqthajZrc3vGNSXBmY/rOFzXLYEwn6iwO34hwli75OvXI6u2RC93Ru4HP3PQNxgcJzL8XcFxN7T7FyOPpUQ9yhZcjkyW8eA2efvcDtW7IfonXcEGA5TIe7pXM7lmBeQCvHvMy7He48iwexdh7kc6y9D3GaxldMxcREkzEsPcjm+3ACxl2k1t+PkcwVg9sJt3I4cZXEQvzzgdjS0g7hn9y8ux95aiPsF14k5qh6AsO2PSTsqBkPcwy7B5RhvClE/eSqH4yrPXDD73jpOR+s2iPpZ1zgdu05D3Fm0kNNxZ3s6mP37OrujyDRIfO1o+OFgvwCiZprNd4c//RD2IedvDgD2uJ0ofAIAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGKCg74+UMIy9pzwPLB588orN6sNRcDWy8oFGMHZjQSJY3O8Xm+3FkkS4mrxXitowNgC4bZD5bAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEACXRXUiTYRQH8Ndl4kXDLgzaGHkRkduFo5suSv2/F0YmDCRa2Bo20+a3szVLQYjQllRE2bDCFuRKXCGTUJrOzYZOx/BjW0IwRqhFSCBBbKFupnLOc/XjcOA5/3PiZrWyZz1eKghfdi9vySXC/ivevo+Zb9fJ1zYe4WdmLfmv1Yr6lkvk/OHjYuRXHdndvw6/zEj2nJnCv+om8rlkluhuuEGO9XxH0dpVsrBpw+SdFrKrXRA/TuvIutU/0Nd1kL2BD3AcqSCne6Vit6aKLI2+h/Ydz6a8HcZ2gP0m0Au/jS1/7oUkZSCvuKOQa6vJZ58FsWvgOTOGhjCfZKuPFYhFozzzIUcMA+VcP3DXitQpzqj0PUG8jOu56UHM5XCu8bVhJG7Wkw16Ozo7eObCgkVMPDCRH+d8hfqwnjyrDaHpBGc5KBtH1S3uCUvtuNfK9b7QC0Qs7GzJKHxTZnKmy44y4xXy0REPWse4J5G3BMV/dtZnJ7qijXyv7rfYquHblQSdMCoqyaaLg7D+4CyVIS80Qd5PwgSx4gJnsRjjeJrPPXOaEXSe5z20/fbAe5J3Ky470FzeQFYFXiLazn/tnB7DpI9vsSx1QherIb9WvYJrgf3pYR/2ACh50y58AgAA" />
  </appSettings>
</configuration>