<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="975" />
    <add key="mainForm.Location.Y" value="116" />
    <add key="mainForm.Width" value="731" />
    <add key="mainForm.Height" value="640" />
    <add key="logSensorsMenuItem" value="true" />
    <add key="hiddenMenuItem" value="true" />
    <add key="/intelcpu/0/clock/expanded" value="false" />
    <add key="/intelcpu/0/expanded" value="true" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAIuMKdDseHHHg4HhwP+/Te1mDGBwzxEAxaogtRgAAAA=" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEACv4fWj7wnd3PBgYDvyPuzfPlAEIEsJnOQEAz2X0MhgAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/8/hQQyMoCBi9PVokQmGPuCcAqULez0sjoFLq7AjlCTsCMJyhZzklqbDGV7OL0rSoKz9SJT4Gouz0+Ai1u4wNR7Op3tg6mXcGLbCjPfx8n1bxKcPXMqTFzSaQ8PTDzA6WdtMpzdfBImLuN0eS9CTaRPKpwt8CYWypZ3kloC0xvitNs9Ec5+uzEJrkZ+HkJ81fokOFvbLRmuxkkeoQYAFymy2lwBAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMgABI0OQ81znWXYwNgDgMd0kJAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMgDBg/rdznOdZ9nB2AAtB/eiJAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMkDBXOdZdjA2AL0ac5MkAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMkDBkqxZdjA2AHqnIuckAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMoBBg12ndyITAxQoPvkNZxcWpkLZDvZyNQkINf/+MMH0Zq9OgYtHz5HmhbG9/yRBxUUcD6ggzHwTdUcExn7qB7P3g8O7v0lwNbvsEOoBEp7HbLQAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMkDBkqxZdjA2AHqnIuckAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/+9FwcyMoBBg12ndyITAxRsuHiQHcZW/PeHCaYme3UKXM2yGXX8MPYBld9wNbaSyXA1NmctpGBsABJwp0B4AAAA" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAAu7/z2+48UdD4YILlsA6V6JFgwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEADsuMUGz48UdDwaGA//7j6WbMQCBymZOJwAhBFLLGAAAAA==" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIBAt4vP8cj1JDB7Butzhycs6WB2Ascxh8y8EDD7LA+v08VnGWC2LMMCx4OSaWB2x9yZjt+Sc8DsoPvcTjuyUsHs1/27HG0fRYPZJg+WOuwpzwOzPwWpOq0+HAVm39H+5hiTUQlm/7k32XGxaASYfcWSx6nFNxHMLnHrdwxdAnEbS8E6x19HIewItsUOB6dA2B2WFo5MvxPA7Mn6bY5SoclgNvuUbMf/CRB3/p5i7XjmK4TNmibmZLsF4mbWrNWOiwIg4sqWiQ6/DSF+vHx0ksMdL4j46h2XHI7zQ/zVLMTv+KUwE8w+5vTYoaYS4ua0mCDHXe35YHZpVoajvkAMmM0WH++YowrxS5dzgmNiMUTN5LPijo0FEPE/7vsdLpZA2Aveyjju218EZl9UP+zglRYJZt+QNXQs2ApRE7esw1HmH4St9U3VsflSNpgtcF7X8WcKJO7S38k5psnEQdyfIu3Y9hjilzW8Xo6+JyDhs69T1ynCE+IXn6h+xwkaEDV9Oy0da9wh4TBpU4njXnVI2H68/tIhNyALzG7kZHe8VAGx61q6gOOefZC4yPgR6hh1KwXMDpBgdVx/FsL+ffyNAwCqflmQfAIAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIDgkl2w45HrSWA210Rrxycs6WD2Pb8ix8y8EDBbapWS08VnGWC24rPDjgcl08BsN+uDjt+ScyBqdhg77chKBbOnyvI62T6KBrM33G5z3FOeB2YfuhzqtPpwFJj9IVLbKSajEswO3fvJcbFoBJit8d/GqcU3Ecye++StY+gSiNvYGdmdfh2FsFVM2hwPToGwfz7c5cj0OwHM/r74qaNUaDKYXSJ91fF/AsSdb0X2OJ75CmEH83k42W6BuPncZFanRQEQcXvxIsffhhA//q1odLzjBRE/FT7J8Tg/xF9Bp5c6finMhPjLdZpjTSXEzanWJxx3teeD2W3LLjvqC8SA2aqzzznmqEL84nP4nGNiMURN/qGVjo0FEPGK+k7HiyUQ9k35dMd9+4sgYbu8xNErLRLC5t/uWLAVoqbj0nNHmX8Qtt29DY7Nl7LB7CM7tjj+TIHEnUvrWsc0mTgwm23dase2xxC/LAw67Oh7AhI++/bHO0V4Qvyyjvm94wQNiJq7Absda9wh4bDmzBnHveqQsL2w1cIxNyALzLbp8XK8VAGxizc3xXHPPkhc/N6x1zHqVgqYvdRqgeP6sxC2/K0ZjgCmCWp9fAIAAA==" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGIDg4nRX1yPXk8Bs1V8irk9Y0sHsm4tKXDPzQsDs60D2xWcZYPaMbjHXg5JpYLaXSZnrt+QcMPsOUM2OrFQw2wJopu2jaDD7u720657yPDDbVDzDdfXhKDD7fX2ha0xGJZh9A6h3sWgEmP0OKN7imwgXD12SBHfDr6MQ9oqMGy4Hp0DYGYJ6rky/E8Ds6nf5rlKhyWA2111v1/8JEHfyzLVyPfM1DW6O7ZYcuDsXBUDEp3RHu/w2hPhxQ4aw6x0viPgx16sux/kh/uK4e9rlS2EmmL0eqKamEuJmjtg8113t+WC2wq9IV32BGDBbBRieOaoQv1gB7UoshqixCDdxbSyAiN8ChW0JhM0hG+u6b38RzO8uXmmRYHbNujjXgq0QNRVAP276DWHbAM18eyUbzOaTlXD9mQKJuwOtaa5pMnHwMGl7DPHLl3odV98TyfC4iPDMhIfDBA2IGiWgm2vcIeGwXsPdda86JGyPsbq45gZkwePlUgXELkUrNdc9+yBxYQ00J+pWCtze9Wch7LUZEa4Alz/v53wCAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf8ruiSYGIDApEfM9fDdJDDbYrqr689/aWD2UVYX1zeWYWD29UUlrhaumWC2KVBN7blUMPsaUFywMQvMvgNkr8hKhZtz8UYsmJ07kdv1SEUOmH2wNc2V9WEM3My2wHIw+waQfUo0Ai4+MSARLs5wMAkurnMewn5d/9FlQguEzR2r6frkRSJczezuZDCb6663679VqXC/JPCkg9myVtmuS5hzwWz/EifXIqibp3RHu9ypyID68ajL73WQcGhYd88lhA+i5hjQHJkHEDX7jn53OdoZBWb7mZS5hinlg9kKvyJdL0tA/KjyS8T1YSXEbVbAMDFThKhJF9Rz5bwEEQ8A6uUXgLDlgG6L/FEAZr/7f87FKTUazK5ZF+eatxqi5irQj3sNIX63AZrZfwASL7O6xVyjp6TDw83rWiw8HGLeQcS/1Ou4Nh1PhsfF6rhMeHyF3k8Bs5WAbt5WDvHjbaUg15+2EHtVqsxdCw0Q6o0rIGaah5u47tgNcc+mFSqu+15DzEmbGOAavR/Clgf6CwCZUc1HfAIAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf/LH4oxMQCBSY+Yq8XFJDD7OKuLawFnOph9c1GJ6z2hCDD7OpAtNz0TzDad7uqanpgKZk84neN64WAGmH0HqGZ5LkT89iMH19kf4sHs7/bSriaZ2WD2wdY016/8cXAzPS1KwewbQLbTz3AwW84q27XAOxEuXnEwCa7+6nkIuyGPw3V6P4S9KiPCde8BCHs1kJ3xJBnMtgC6s20uxD23Fn1xMf0OYVe9y3dtv5ELVyOSDBHnuXva5VUhxC8bMoRd1/angdmf6j+6BDSkgNnfgH5R2gxRw3uXzbV9XgyYnTExwPUnfy7cDVx3Y8FslV8irh5XIH6xAto1a2IemD3ttLqr6DeIeIBJmSu3YCLcbdvN8uF+/L0AYk7NujjX+84QNVeB4XB0EsS/NkAznx6CxMusbjHXxcIQN695YepqFh4Htze+HxKnXHOtXJezQPxSDTRTtSoTHg75zyHhwAEMh4XZEHO47nq7XtCB2HUMmDbuS0L8bglU/60BYuZUoF8+bYeoEZCVcN3FnwYPK665kLgwB6oHAKoD+UB8AgAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9na0SYGIDApEfMlfFoEphtMd3V9Wl4Oph9c1GJq+PFSDD7OpCdvCkTzDYFqnFgSAWz39UXutb/TwOz7wDVpOamws1JZ4OYaSOu7Npvmg1m+35JcfWLioPrLRMrBrNvAPWWvQsHs9li81wFXBLh4gFnkuBu6LsCYX+2l3bd1g9hHzlq5MpyPxnM5rrr7Zr7MhnuhkuzIO6Z1n3bRWlfCpg96XSOa9nZPLiatjSIGp67p12Uv0P8PqtbzNX9EcRfmzWYXP/lQPRaiL9wyVHMALMb1km6Cq6D+EXhV6TrjXdZYPbqjAjXsunxYPZMoDl5+hB3WgHtOl4Ksfdoq6Kr260EMNsOKH6MBeHHqxG5YLbaLxFXjwsQc2rWxbk+DYaEyVWgmvJKaNgC9bpcyIS7Wfp9MjxslYUT4PZ+XQXxS52ejauDLsQvB1rTXOc2QfRaAeOo8j5EXAlor19eOjx8/A0hdh1jdXEN/wcxxxIobjkBokZ+1wmXgOkQNQKyEq7rTBB6D0+EiOdO5HYFAB29feN8AgAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9pSkJMDEBg0iPmunNdEphtMd3VNdcuA8w+yuri+rA2Csy+vqjE9YdqFphtClTTdCoFolc8w/WvTiqYfQeoJrsgFW6O6o1kMNtGXNnVOS4TzJ50Osd1fmgC3Mzv94vAbB+TMldO7TAwu+pdvmtWaCKYfQOopv5GElx95FkImzNW07V+KoR95KiRq3IlxD2WQHv7/VLgbihYAXHPzG4x1xvrIWy22DzXiq85cDUvr0LEee6edvnPBPG77XQG11LHNDD7pKuAq/RviJmf6j+6nOlIB7OtgP6a9QTiF3NgOFw8CdG7OiPC1dwB4v7P+21dp3dC3GkFtCsxGxKGyr9EXH9ZQcLnFDCcL4cnw/2oW5MNZqsB1QS9SISb+X8ChH0VqKazFGJm0JZg1/eTIGE7C+hHi8MQcctwE9eOqkS4vVuCIH482Jrm6hMC8YusVbbr5FUQvRsyhF0fp0LUmAPVb16TBg+feT4QM7/bS7smPE2Fh3NcLyQcVgLdxrgCosYaKM6mlg53T9AMiPj9Rw6uANB30nt8AgAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf9Lt/MzMQCBSY+Yq9iKJDDbYrqr6xYVCNsSyI5OhLCvLypx3ZWXAWabAsVtpqeB2XK/Il2dfZLB7DtANVk5qWC2yi8R19nzIewNK1Rcndalg9kf7BNcU5DMlOHOB7NvANlLTkeA2ZNO57h+KUqAiyu+RKi/fQbCDtrC5yq5DMJOvpjoymeUCndzfUcK3C8XxCDiPHdPu/yog7i56l2+K0tbNpidIajnuqg6Da5mVyrEj1s1mFyXC0DEN2UIu0pcgJgZ8OWJy4+vEHHFKnNXz/8QN3z+7+favwYivjojwjWcCxImk4F+SX4IUWMFdM8eD4j507vFXDMcIGpOsbq4htalwP34OSYLzJ4FVDPjbzLczM3+iWD2VaCaKfshZnLLxrpOSUmHqw+fC1G/TsPdtf06RM1RoPlfOFLgYfu1GsJOAYab0pNMeHx1KkLCyhzoTnUDiF9uAe3afBliTvM6SVf7aylwfylOh9jLcdfbNWkmRI01UG+JDsI9C6YhxAH4cO9SfAIAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf/v90gzMQDB/F0nnI5cTwKzlYDsJyzpYLYikJ2ZFwJmywPZF59lgNkKQPZByTS4+LfkHDBbBcjekZUKZssB2baPouFm7inPg+tdfTgKzo7JqITbtVg0Ai7e4psIFw9dkgQX/3U0CS5+cApCnOl3AlxcKjQZzv6fkAZXc+Yrgm27JQfu/kUBCPHfhhlwN9/xQojvbjzHAmPXVEbA1exqz4er0ReIgdubo5oIF08szoeHSWMBRFwZFJ4lCDUcamfg5hdsTYSr3/Qbof7tlWy4+T9T0uF6JwpO4oSxJ2ikwfXWuCP8slc9Aa4+NyALbs6linS4+j37EGkg6lYKXM36swg2AJjBj49AAgAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg6nRwVhKUbe3kUQhjOzkd5E2BsvOcltSnQdkRTsHRGVB2lNPVmkQou9jpeVcqXLw0JB3K9nCadxcm3uB0+0sylF3hdLgoF8pOc3r5JRzKrnK6GpsIFw94AHNPttPcezC2rdP3pUlw9+sww9zm71R2DOZmT6fTj2FsXydHZph7ypx2SWZD2QlO8lNgbrN0WvEQ5i8zp1u7EeIfdWBsO6dVMTC7bJxWSaXC3fCrE2aXvdO0bwh2pibMv25Oh6XS4OH8ziwZbs5MqzS4XavnZMDZAe9T4eboMCZA2V5OdXYpcDOzjGBqnJysemDiVk79MjC2iZPkaVhYuTvdXZQCD+cXHplQdqCTi0Ua3Jwkv1R4GLIxwtxp4aTJkAJ3f8+OdLhd/xth5ns4VbSmw9UkRcDEjZwAot6swXwCAAA=" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg4nRwVhKUbebkUQhj2zkd5E2BshOcltSnQdleTsHRGVB2gNPVmkQoO8npeVcqlB3mVBqSDmW7Os27CxPPd7r9JRnKznI6XJQLZYc7vfwSDmXnOF2NhZnp6xTwAOaeEKe592BsK6fvS2Fseycd5jS4X8qOpcDtPf0YxnZ0cmROh/tll2Q2lB3pJD8F5jZzpxUPYf4ydLq1OxXO/qgDYxs5rYqB2aXvtEoKJm7p9KsTZpe107RvMLaNU6ZmMtydh6Vgek2d3pnBxA2cZlrBxE2cVs+BuUHPSfdEKly9v0YClG3htNgyBa7e1RymxszJqicF7uZ+mRS4OyVPJ8HdeXcRTDzP6YVHJjxOXSzS4OYk+cHMdHNiY4S509hJkwFhb8+OdDj7f2MS3J0Vrelwu5IikuB+AQCqmbb+fAIAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg6XRwVhKUbe7kUQhjmzod5E2BslOcltSnQdk+TsHRGVB2sNPVmkS4moMdqVC2n9PssHQo28Jp3l2YeL7T7S/JUHas05EImJkeTi/44qHsIqersYlw8wMewNwT4DT3HsJt35fC2HZOOswwc5ydyo6lwMVPP4axbZwcmWHuSXbaJZkNN7M8B+Y2Q6cAzkwoW9/p1m6E+EedVLi9q2Jgduk5rZKCiVs5/epMgfv3v/wJFhj7sBRMvZHTO7NkuJkzrdLg7NVzYOGp7aR7AmampZO/RgLczMWWMPMNnFzNU+Fsqx6YuI5Tv0wK3G2Sp5Pgfr+7CCae5/TCA+ZHbycXC5gbTJyS/GBmWjuxMSbDzddkSIH7vWdHOlz8f2MS3F9vtqbA/fJOHWaOlhMA0VybI3ACAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg5XRwVhKUberkUQhjWzod5E2BspOdltSnQdmhTsHRGVB2gNPVmkS4mp0lqVB2kNPirHS4OfPuwsTLnG5/SYayo5yORMDM9HF6wRcPZWc6XY2FmenrFPAA5p4Ip7n3YGwzp+9LYWwnJx3mNLj6smMwN9s7nX4MYzs4OTLD3JPvtEsyG8r2cirPgbnNyKngK8xf+k67ziPEP+rA2IZOq2LS4GpWScHEbZx+dcLssnDa+AnGtnby002Gh8NhKZheY6d3ZjBxA6eZVmlw81fPgblBx+n4yUS4+q1qMDNNnbbpwdgmTkZOMDdYOVn1INT0y6TAzZE8DQsrc6e7i1Lg4fDCIxPKdndysUiDh22SH8xMOyc2xmR4OGgypMDV9OxIh7vtf2MSPBzebEWEw3IGmDnaTgD2C+0wfAIAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGDg6HRwVhKUbeHkUQhjOzgd5E2BsrOdltSnQdn+TsHRGVB2hNPVmkQou8hpZ0kqlB3utDgrHcq2dZp3FyZe5bT/bDKUneX0AG5moNMLvngou8TpaizMzDCngAcw9yQ7zb0HY9s4fV8KY7s66TDDzPF0KjuWAvfX6ccpcHFH5nS4+bsks6HsOKfyHJjbzJ0KvsL8Zea06zxM3NTpow6Mbe20KiYNrn6VVCo8rH51wuyyd/pxB8a2c2J3Toa787AUTK+l0zuzZLiZM63S4OG/eg7MDYZOx08mwtVvVYOZ6eW0TQ9hl5ETzA0mTlY9KXC9/TIwtpGT5GlYWDk53V0EE69yyjXKhLL9nPb7pcHDNskP4S82xmS4fzUZUuDu7NmRDnfb/8YkeJi/2ZoCD8PlDDBzDJwAnljK4nwCAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg4XRwVhKUbeq0WQHBlp2XDGVnOd21T4ey/ZyCozOg7ECnqzWJUHaG086SVLj44iyYemuneXdh4kVO+8/CzAx3elCfBmVHOb3gi4ey052uxsLMTHAKeABzT7zT3HswtpXT96UwtqOTDjPMHGensmMpcPHTj2FsVydHZph78px2SWZD2Z5O5Tkwt5k4FXyF+cvAadd5mLiR00cdGNvYaVUMzC4zp1VSMHE7p1+dKXC3/biTAg9DdudkeDgfloLpNXd6Z5YMN3+mVRrc/NVzMuB6s/cmwtlWk5PhenvPwcw3dDJySoWzrXpg4vpO/TIwtq6T5OkkuJvvLoKJZzjlGmVC2W5O+/1gbrB3SvKDmWnjxMaYDHebJkMK3M09O9Lh4v8bk+Dh8GYrQs1yBpg52k4AxrohhXwCAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHNer6fZ8eKOBwPDgf+OIbxMDGBg73RwVhKUbeG0WQHGNneSnZcMZSc43bVPh7L9nIKjM6DsYKerNYlQdrrTzpJUKDvUaXEWTL2t07y7MPECp/1nYWYmO6XKpUDZIU7JBTBzcpyuxibC7Qp4AHNPmNPcezC2ldP3pTC2k5MOcxqU7elUdiwFLn76cQrcj47M6XC/7JLMhrJ9ncpzYG4zcyr4CvOXqdOu86lw9kcdGNvaaVUMzC4Tp1VSMHEbp1+dKXD2jzsp8PBkd06Gix+WSoOH7TszmLih00yrNLhdq+fA3GDglL03ES5uNRmm3tKp9xzMfAcnI6dUuDlq9TBxI6fFmgi25OkkuPvvLoKJ5zrlGmXCwy3WMw1u/pFgmJl2TmyMyXA3azIg/NWzIx0ebv8bk+B632xNgbt5OUMq3C8AcCdUvHwCAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEDAw1XgcHBWEpjNwOBhv1kBxn5oLzsvGcyuWLTQ4a59Oph9jVPPITg6A8yeMHed/dWaRIj6BmuHnSWpYPZ24R/2i7Mg6sse/XGYdxci3pXL57T/bDLU/GkOqXIpYPaTnx8ckgsg5mx7EeJwNRZqJkOVQ8ADmHv0Hebeg7BDHI/bf18KE/9lr8OcBmanqls5lB2DmNk197jD6ccQtoJ1pb0jM8Q9D0UWOuySzAazGRu8HMtzUqFq1tkXfIX4qzJJwWHXeYj4Eb9yh486EPYJPyWHVTEQu6w2HrVfJQXz7337X50Qu/zOsDr+uANh3+kMdmB3hvp3AY/jYSmI3gqlnw7vzKDiDUoOM60g4paFHQ6r52RAzTxmn70XGg4Ozx2sJidD3RDi0HsOYn7Foz4HIyeIG+5wijqo1UPERawrHRZrQtgpy/sdJE9DwupN1zLHu4tSoOF2winXKBPMPtb/zPGyCywMFR38IiBm5iXddmBjhMWXh70mA0RvA88Ju54d6TBxu/+NsLg4YfdmKyLMlzOkQtNPhwMAsrlhCHwCAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDECwT9TK4eCsJDAbBDYrwNgedrLzksHsI2ohDnft08HsGyeXOwRHZ4DZExgTHa7WJELUO5g67ixJhbAPrHBYnAVRv0FY12HeXYi4SPcXx/1nIWZumszjmCqXAmafWsfskFwAM6fZ4WoslM2g7xDwAO4eh7n3IGyF0x7235fCxE/Y6TCngdlzIzocyo5BzBT5fdPh9GMIm6GB08GRGeKejmvHHXZJZoPZsf1tDuU5ELc5sHnYF3yF+Eu9zM1+13mIeFGSpcNHHai/GNbbr4qB2OW+sdx+lVQqXP2vTohdSemcjj/uQNjvWo47sDsnQ90Q4nhYKg2q/pj9OzOoOIOYw0wriLiIdaXD6jkQN2iW9Ttk702Eq7GaDFGv/q3esfcc1K7lxxyMnCBueMPS56BWnwKNo08OizUh7DudHA6Sp6FhtWGz491FKbBwc8o1yoSEw8zvjpddIG6oeHTAwS8CYuYxvoUObIwwd3rYazKkwMOhZ0c6PPz/N8LiYprDm61w8+2WM0DMmTD3gT0AOAMmJnwCAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDECwY84zu4OzksBsBgYPu80KEHblRQ972XnJYLZI923Hu/bpYPamz3qOwdEZYDajUZPD1ZpEqN5Eh50lqWD2hLkP7BdnQdSvEl5rP+8uRNzaUNBp/1mImUf9lBxT5VLAbIPWKIfkAqg5Ds8drsbCzFzvEPAA7jaHufcgbAc2D/vvS2HiYvY6zGlg9rVORYeyYxAzpfYpOpx+DGHHq3M4ODJD3POGRd1xl2Q2mC0w/6JDeQ7EbfHLRRwKvkL8BTTEbtd5iPiUV8X2H3VSoXZNs18VA7Gra66owyopiLh6mZvDr06IXXoby+1/3IGw3x+xdGB3hviXocHa4bBUGlT9FPt3ZjBxToeZVhDxVHVFh9VzMqBheNw+ey8sHMQcrCZD1Keon3PoPQcxfxuLmIORE9RtDSEOavUpcL2LNSHsb+4iDpKnIWH1RmqF491FKVAzTzjlGmWC2VqPbjtedoG44cQ5UQe/CIiZc2+IOLAxQuxdcmOKvSYDTK+Hfc+OdHj4/2+ExsUBR8c3W+Fq7JYzwMJnrT0AL6ICa3wCAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDFBwcFYSnL1ZAcYWs5edlwxmz51xwOGufTqYbSB60CE4OgPMfnPktcPVmkSI+gXhjjtLUsHssk1bHBdnQdRvEBZxmHcXIq7x7I3j/rMQM9+U9DimyqWA2eacbI7JBVBzHJ47XI2FshusHQIeQN1zYIXD3HsQtgNblf33pTB3nrDXYU4Ds+fdiHcoOwYxc8PkJofTjyHsE36cDo7MEPdUvVR23CWZDXFPxCyH8hyI23S/KTgUfIX4C2iI3a7zEPEzH1wcPuqkQu36Zb8qJg0eVqukIOKWH9c6/OqE2HXUr9Phxx0ou++gA7tzMtxfh6UgeuPT+xzemUHEHwVyOsy0goovj3dYPQfihk2XOxyy90LD4YCjo9VkaLixKDn2noOYv8+2ysHICeKGjcUZjmr1EPHpN37YL9ZMgYYhp4PkaUhYvfm1xPHuohRYuDnlGmWC2Tc77zpedoG4oeJRn4NfBMTMORI8jmyMyfD0oMkA0Tv3hptDz450aLwLOv5vhMbFA23HN1shavzedDgsZ4CYs134vj0Au8aTynwCAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAwoemj7cFZSWA2A8Mv+80KMLaYvey8ZDA7iZ3f8a59OpitURbvEBydAWZ3Fs5yuFqTCGZ3FTU47ixJBbPvdCo6LM6CqN9yuddh3l2IuHoJv9P+sxAzyx/VOKbKpYDZjpw7HJMLIOYwCKg4XY2FsF0NXzgGPIC4Z65FgOPcexC2A5uH/felUHc2cDroMKeB2W9cdB3LjkHM3HC5w+H0Ywi77f1hB0dmiHvCFMMcd0lmg9n8/yY7lOdA3VZWYV/wFeIvByB713mIuKmJgsNHHQhbwVrUflUMxK7twroOq6Qg4knHxR1/dULsmiCr5PDjDoRtLejlyO6cDHXnIofDUhC9x/qmOLwzS4a7f6YVRHxD8DqH1XMgblglfMw+ey80TA6scLCaDFF/U7PPsfdcCkyvo5FTKpSt5KBWDxF/13LcYbEmVA3DCXvJ05CwKqud63h3EVzcKdcoE8xW037heNkF4oaj59Y5+EVAzAzo4XNkY0yGpw1NhhRo+IvZ9+xIh4p72P9vhKWZKvs3WyFq9DausV/OAAvb+/YAU9/J3HwCAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAQKtTpcHBWEpgNApsVEGzZeclg9obLHQ537dPB7H/x7o7B0RkQNQ4GjldrEqHqT9jvLEkFs4seuToszoKof6FX5jDvbipUvZ/T/rMQM/16tjmmyqWA2WUvDjgkF0DM+WN20v5qLMzMX/YBD6DuaeB0mHsPwr6gbO3wfSnMnVUOOsxpYPbciMsOZccgZtZPcnM8/RjCVjfjdHRkhrin7Ber0y7JbDB7Kfdyx/IciNveawQ7FHyF+EvB+qf9rvMQcX7rLIePOhD2O5cVDqtiIHZtFI53WCUFEffJEXX41QmxK0ndyvHHHQj78LnNDuzOyVB3PnQ4LAXR+/++ouM7M5j4evuZVlD3S8x2WD0H4oZtpfsdsvdCw6Eh18FqcjLU3gqH3nMQ8+tmizkYOUHcoF72w16tPgXqzs8OizUhbDWz3Q6SpyFhVfZ3pePdRSmw+HLKNcoEs5+bvXC87AJxw5wZEo5+ERAzmQ4cc2BjhNibqh7soMkA01tl37MjHcr2sPvfCDH/hJ+1w5utKdAwdLdfzoAIHwBoq94ufAIAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAOM7panZ8eKOBwPDgf9llkJMDEAg0/PV/uCsJDCbgeGX3WYFCHvCWTV72XnJYPbR40KOd+3TwewD3LccgqMzwOxjTasdrtYkgtk3A5gcd5akgtm7bY45LM6CqD/cU+Aw7y5E3DlcyGn/WYiZz0+HOKbKpYDZv/LYHJMLIOZcf6XteDUWwm7I/uoQ8ADiHoMXcxzm3oOwV9Qts/++FObmh/Y6zGlgdnToYoeyYxAz2a4ddDj9GMJWXJXt4MgMcY+FbZDjLslsMPutH79jeQ7EbQKMH+wLvkL8ZXNiiv2u8xDxsOsmDh91IOwpbpwOq2IgdsU0v7ZfJQURX85Y4vCrE2LXMsZDDj/uQNgCnw47sDtD/BtW+sbhsBRE77fceQ7vzCDi35LYHWZaQcRFqpscVs+BuGHmUz+H7L2QcFjFtcHBajJE/a1MScfecxDzS1dOcTBygrhBSXe2g1o9RPzc9pkOizUh7OpwVwfJ05CwmntmuePdRSnQcDvhlGuUCWYbr3zmeNkF4gaGBwsd/CKg/lU77cDGCLHXduM2e00GiF7bkzPte3ZAwlOC4YP9/0Zomjm20uHNVoiaVe9X2i9ngJgTcZXHAQBZtaWDfAIAAA==" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEALtTpK/Z8eKOBwPDgf9hP6WYGKCg74+UMIy9pzwPLB588orN6sNRcDWy8oFGMHZjQSJY3O8Xm+3FkkS4mrxXitowNgC4bZD5bAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEACXRXUiTYRQH8Ndl4kXDLgzaGHkRkduFo5suSv2/F0YmDCRa2Bo20+a3szVLQYjQllRE2bDCFuRKXCGTUJrOzYZOx/BjW0IwRqhFSCBBbKFupnLOc/XjcOA5/3PiZrWyZz1eKghfdi9vySXC/ivevo+Zb9fJ1zYe4WdmLfmv1Yr6lkvk/OHjYuRXHdndvw6/zEj2nJnCv+om8rlkluhuuEGO9XxH0dpVsrBpw+SdFrKrXRA/TuvIutU/0Nd1kL2BD3AcqSCne6Vit6aKLI2+h/Ydz6a8HcZ2gP0m0Au/jS1/7oUkZSCvuKOQa6vJZ58FsWvgOTOGhjCfZKuPFYhFozzzIUcMA+VcP3DXitQpzqj0PUG8jOu56UHM5XCu8bVhJG7Wkw16Ozo7eObCgkVMPDCRH+d8hfqwnjyrDaHpBGc5KBtH1S3uCUvtuNfK9b7QC0Qs7GzJKHxTZnKmy44y4xXy0REPWse4J5G3BMV/dtZnJ7qijXyv7rfYquHblQSdMCoqyaaLg7D+4CyVIS80Qd5PwgSx4gJnsRjjeJrPPXOaEXSe5z20/fbAe5J3Ky470FzeQFYFXiLazn/tnB7DpI9vsSx1QherIb9WvYJrgf3pYR/2ACh50y58AgAA" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/9zTwUyMoCAg5+D0OFkBxgbAKuWH2UkAAAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/9zTwUyMoDAgXJXocPJDjA2AEIM7KwkAAAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/9zTwUyMoABi7PQ4WQHGBsAh9elYiQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAOMx7N++8N0dDwaGA/9zTwUyMoBBg6vQ4WQHGBsA2ZAT7iQAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAOv8Mmn7wnd3PBgYDvz/wObHyAAEOu3bHKq8E5lA7Fr7Rof1RdvAbKUNJQ5askJgNvf15Q7MvxKh7AaHb8Z7wOyql+scEj9wgNnTnNc6vCtKArObprY6vL2+EcwO6F3v4DJNGMzWilnjYOmWDGZvOdHisD1lK5jNErbWwZ+FH8w+qrDBIfUPxByX7naHyyybweytJzY6/GMUALMlWDY5TPoMMedaRYeD1UmI+tznUx0u7YWwnyyd4VAtlgZm31jc4TB/TQyYfUzhioPUEojeF7+7HE7vgfjr2YUOB/5NEL3OCTcc3mpAxCtfdjr8UoGoP+7d6cAKdT+/7g0Hy0CImnXunQ4A6ezcA1wBAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAOv8Mmn7wnd3PBgYDvxnuBvIyAAG0+w4+dOYIOxftmf4NkHYL7wdL90XhLAP9NsJnk+EqtG3Wx6/F8KO3uv48wsHXM2T0iQI22GrnfjjDRD2ovuOwSuEIewGa7twu2SoOSfs3jZtgbDvzHac8Y4fqma3Hcs1qDkMVXabFmyGsIvOOb5IEYDaddCuUBpqjkOzXWY5VD37TMcvfDBxP/tja1Oh5njYnb8QC2EffefY1g9TM8eO60MC1F5OO6PtUHOyRJ2+3EyCq9mVhvB7qRpU75H5jiH2iXA3AADFWpoNXAEAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAOv8Mmn7wnd3PBgYDvy/WxPGyAACDdZ2N63TmCDst3Y+bzdC2DNYHXTEhCBsh3N2uVcToWpy7T7m74WylRwm83JC2AxVds+jk+BqVpzbAGErGDnINApDxXfb7QxOhrAX8NjXT9kCVSPp0HKcH6pmkd3tdVBzHObY3Xq3GcLuEHBgbhCAquG0W3gjCa7esyoJbs50Y6j5B27ZydxJhdsbsTQWwrYQdbiWAlXDMM3O5kMCVE2n3aKqdAg7QsLB9jRUPUOi3ZILUL8znLCbpw/VGyDooKWbCNcLALNmaDxcAQAA" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEADtu9Hbbwnd3PBgYDvw3D/7MyAAGJ5w18gP5YOx3RUlMYGYCm4teZAqcfXl+AhNMjYVLMlT8lfPZviS4uPemIyww9sypiXA1e3gQan7WIvQ2n0SIX96LsDfSJxWu5ul1JXYY++1GhHqD2Ylw9sxNSXD1KvLJcHFPN4QaAAtKdr38AAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEADtu9Hbbwnd3PBgYDvw3D/7MyAAG+i53vBOZIOwTzietUphg4tdCEGxjPYSajBsa7DC2XiRMTZXL5fkJMDUuFi7JcL1n+5Lgetm2ws1xcf2bBFczcyrC/D08CPGftclw8eaTCPHLe6HshkUukT6pcLbAm1i4GqklCL273RHmv92YBHezwWyEOJuEOtxfAB8Jk+csAQAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEADtu9Hbbwnd3PBgYDvw3D/7MyAAE+ULNVkE8xvYwNgAe/YMUJAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEADtu9Hbbwnd3PBgYDvw3D/7MyAAGCg53vBOZIOwDDietUqDsDQ7XQmDsBQ7GenA19gk7kqDsBjuptckwNfbvimDiDA56kTC9Jxwuz0+Asg0cLFxg6h0czvYlwdlsW2HmX3Bw/QsT73CYORUmHuCwhwcmvsPhZ20y3M3NJ5Pg5l/eC3eDY6RPKpTN4yjwJhbKTnCQWgJ3s8Nu90S4m99uRJhvMDsR7seZm5LgfleRh+lVcPB0S4S7HwDDmxFdXAEAAA==" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAONc9WDbwnd3PBgYDvz3L53BxAAEc8zanJwSE8HsBM82p8/MyWD2hLQ2p6nVqWC20J42p7yPCWC2wNc2p/+6SWD2XvZ2p8JTaWD2iQ9tTqpmEHPmJbc7pRZA1CRO7nI6+hbCNqnpcHKrhbA/Hmx0imiFmNnL0+SUGAmx993/RqegfoiaHv0mJ4NKCLseqKZJFmI+u0WTU/haiHhTcJOToGYKmO0X3OC0PxFi5vmrDU6L1SFqtlxqdDpoBWH/LC1x+p0KUZ/Sk+p07ArEzLVTU50qJ0HU6M1OdXIvhbAZ6lKdfJUgaia5pjrpLYaIrz+e7AQAbmstOlABAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAONc9WDbwnd3PBgYDvz3L53BxAAEq/aoODolJoLZWy6rOH5mTgaz27+rOE6tTgWzqxJUHfM+JoDZ+ctUHf/rJoHZ0XtVHQtPpYHZugtVHVXNIOYo6ak5phZA1GSLazkefQthd7SpO7rVQthTXOQdI1ohZmoskHdMjITYu2qCvGNQP0SN7Gl5R4NKCFscqKZJFmJ+21V5x/C1EHGH7/KOgpopYHZ/k6zj/kSImfuV5BwXq0PUqEfKOx60grCT2MUcf6dC1Nc84HE8dgVipt4zHsfKSRA1/S95HN1LIezl13kcfZUgali38jjqLYaKn+J2BAA2i0SkUAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAONc9WDbwnd3PBgYDvz3L53BxAAEKvULHZwSE8FsgcCFDp+Zk8HsLM6FDlOrU8HsFvMFDnkfE8DsWavnO/zXTQKzD9XOdyg8lQZmy22b76BqBjHHZM48h9QCiJpFJ6c5HH0LYWe8nu3gVgthB+SvcYhohZipsWO1Q2IkxF6V66sdgvohauySVjsYVELYXkA1TbIQ83N8VzuEr4WI/+Bc7SComQJmR31e77A/EWLmr03rHBarQ9Roua1xOGgFYW95uc/hdypEfYP5RYdjVyBmyuhcdKicBFETpXrRwb0UqtfzooOvEkRNXt9FB73FUPHkyw4AzsPzZFABAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEALu74Nq2he/ueDAwHPh/1GUREwMQtP5lc/gxKxHMDg6Vc6i8mwRm+4jWOAhUp4LZ58w/2udKQNTcq3Fy+K8LUaPx39Mha1EamM3GcMdeJw6iZmldlIONJ0TNsU1LHW68hbD1ii45xCyBsKOuTrS3iE4As/fs6nP4F5kMZrPMW+RwdQdUzVQVB4NKCDvk4CqHJlmI+fV/qx3C10LEGRLaHP7egujVf7rR4fJ6iJl+LascFqtD1DyXTHQ4aAVhlxdvd/idmgJm/4lvcxBoT4SqEXMw3g5RYxDe5OA8D2p+Q4iDy2+Imcu0Ztmbn4KI27i3OAAAoDZbuVABAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEI6kq97H/MSgSzGQ7ccqi8mwRhN3A6ClSngtkT5q6zz5WAqPlSG+rwXxeiZrVpkkPWojQwW71M10EnDmoOQ6KDjSfMnN0ON95C2Qz6jjFLYOwT9hbRCRC2A7Pjv8hkMJt/lqnj1R0INQaVULbDHIcmWYj5TB8VHcLXQsUT2Bz/3oLoTbn52eHyeqiZDOsdFqvD3NDpcNAKwuaQ7XD8nZoCFb/iINAOdXODkoPxdpi9D+2d58H0LnJw+Q0zU9+hDOr+SWGcDgCRUW/ZUAEAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEIdmTNd/gxKxHMZmD4ZV95NwnCbljkIFCdCmaL7LZyyJWAqVlv/18Xqoahyj5rURqYfadT0UEnDqJmiY2eg40nTM00+xtvIeyKy6IOMUsQ4hbRCWC2WtkKh3+RyRDxAwcdru6AuYHTwaASpv6EQ5NsItze8LUwNSEOf29B9Hb4PXS4vB5iJoPDHIfF6hA1+3knOBy0Qqj/nZoC969AO8TML7U2DsbbYXY9tHeeh1Dv8jsBLl4Gc/+BKEcAw4Ji7VABAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEI6osSHH7MSgSzGRjEHCrvJkHYDbkOAtWpUHEP+1wJiJrIaeL2/3UhakSsj9tnLUqDqjlhpxMHNafB2sHGE2rOAyHHG28h7IxsDceYJUkwu+wtohOg6jsd/kUmQ9khDld3JMHNMaiEsg+scGiShZmv5BC+NgnO/nsLolchRsjx8nqYmW8dFqvD7NJ3OGgFZTucc/idmgIXF2hH+N14O0TN6UmBjs7zYHo9HFx+J8DdXAZzfwOnAwCKg6zvUAEAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEI9lttsP8xKxHMZmCYZl95NwnKPmEvUJ0KZitYV9rnSkDVNHQ6/NeFqIlf7uaQtSgNqn69vU4cTA2ng40n1JyGtw433kLYG7i5HGOWwM23s4hOALPrVjY7/ItMhogf6He4ugOqxmGOg0ElhC15jMexSRZq/gIex/C1SXD1f29B9Pq8yXG4vB5iZpHiFYfF6jA35DoctIKwT/iFOPxOTYGa3+wg0A4xc8Lcn/bG2xH2Os+D6bV2cPmdAHVzlX0Z3P0eDgBh9I3SUAEAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEMPOx+zEqEsqfZV95NgrLX2wtUp4LZE+aus8+VgKiJbg91+K8LVdOw2yFrURpUPQODThzUnAYlBxtPmDnTHG68hbDfr6hwiFkCEz9hbxGdAFWf6/AvMhnKtna4ugOm5qG9QSWMre/QJAs1/8Ath/C1MDdwOvy9BdXL8Mv+8nqImRsnWzosVk+Cix+0SoKb/zs1Be42gfZEqB8f2BtvR9jrPA/G9nBw+Q11J0OVfRnc/R52AAB9ITFQAQAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAJu/4tq2he/ueDAwHPjPbLuIiQEIFt15Zv9jViKYzcCw3r7ybhKE3RDiIFCdChWvcsiVgKiROLjS4b9uElw8a1EaXL1OHERNl+wVBxtPiBqjh/oON95C2NKMng4xS2B6T9hbRCeA2QrM0+z/RSZDxcUcru6AuYHTwaASwr5T3eTQJAtz5y/78LUwNZ0Of29B9K4RrHS4vB5iZlfeVIfF6gh3HrSCsCekrrf/nZoC1bvIQaAdamaDkoPxdoiayGnT7Z3nJcHd4/I7Acr2sDM/BRNPdAAABfS/xlABAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFNdfnvbwnd3PBgYDvyvtZvLxAACDxKcfsxKhLAXRDtV3k2CsqOcBKpTIewDUU65ElA1DbFO/3WhahrinbIWpcHFdeKgag7EOtl4wsxJdbrxFspWSHOKWQJlOyQ7WUQnQNgJSU7/IpOh5mQ7Xd0B05vlZFAJZT/IcmqShZqfUOAUvhYmnuv09xZMb77T5fVQMw+UOC1Wh7mzzOmgFZSdUOT0OzUFwmYodhJoh5mZ72S8HarmQKGT8zyYG3KdXH7DzMxwMj8FU5PnBADCfGo/UAEAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFNdfnvbwnd3PBgYDvwXSJvLxAAEbtJbHVKLE8HswhOXHSrvJoHZir5vHASqU8HsLMvlDrkSEDUel+47/NeFqIl4Ndsha1EamC0otNlBJw6i5k79TQcbT4iaGWnijjfeQth+CzgdY5ZA2JxLlzlYRCeA2U0vPjv8i0wGszfscne8ugOi5vXH5w4GlRD2KyNxxyZZiPmfzFQdw9dCxDWU3jn8vQXRO+G2sOPl9RAzO24aOS5Wh6i5eIvV8aAVhH1JjcHxd2oKmH3F+5ODQDvETOOQUw7G2yFq+M+KOTrPg7A3px91cPkNMZOpb5aD+SmIeEiOgCMA3CT021ABAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvzXV5/DxAAE71ScHJwSE8HsN986HD4zJ4PZ/DenO0ytTgWzc3/pOuR9TACzxabPcPivmwRmh0coOBSeSgOzFZqCHVTNIOa8PTfJIbUAoqagfKfD0bcQtrflBAe3WgjbmcPSIaIVYmbY7BUOiZEQe9ec5HcM6oeo6bw8x8GgEsLe0vbIoUkWYn79i28O4Wsh4q2aix0ENVPAbJP0Sw77EyFmLn7z0WGxOkSNbOM2h4NWEPYpo40Ov1Mh6iNfrXE4dgViZh9zqkPlJIiaIrMDDu6lEPZnnVgHXyWIGpEINge9xRDx1TF7HABgFuAWUAEAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvznEZ3DxAAENxo+26UWJ4LZCwTd7SvvJoHZqTvi7AWqU8Fst3l/7HIlIGre3I60/68LUfPvFZ991qI0MHtbkJG9ThxEDe+mSHsbT4iaF8UN9jfeQthz0oLtY5ZA2O5KJvYW0QlgtvkdT/t/kclgdpPMDvurOyBqLsm62htUQtjma2faN8lCzLcwX2YfvhYi/j4u3/7vLYjexfHF9pfXQ8zc8m+O/WJ1iJqkhFz7g1YQdhvTRPvfqSlgdpFvi71AO8RM2QYhe+PtEDVWmz3tnedB2IwXrtu5/IaYmXnjmJ35KYj4n/I0ewDULsz8UAEAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvznEZ3DxAAEcQoarqnFiWD2j/1erpV3k8DsSZVmrgLVqWD2oqe6rrkSiXD2f12IGqkXbK5Zi9LA7IJDyq46cQg1Np4QNfFhOq433kLYusZKrjFLEHotohPgdv2LTAazj85xcL26A6ImAajXoDIJLt4kCzHfl1vQNXwtQvzvrWS4Gy6vT4CLL1ZPgosftEqCu+13agrcvwLtEDO5avhdjbcj1DvPQ6h3+Z0AZ5ufQqgBAKVEJL1QAQAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvznEZ3DxAAEVxbz2acWJ4LZbjcz7CvvJoHZswJr7QWqU8HsOxx89rkSEDVRxcH2/3UhatwK1tplLUoDs081aNvrxEHUcKdG2dt4QtRkfMmzv/EWwg7P4rCPWQJhe8ads7OITgCzJb402/+LTAazF3+4aH91B0RN5JVce4NKCDtwxyL7JlmI+XGt2+3D10LEm7vC7f/eguh9ULrd/vJ6iJkhXOfsF6tD1Fxi6bY/aAVhs0jV2v9OTQGz2/7U2x+7AjHzEdCc2kyImrLkI/bO86B6VQLtXX5DzFw2+4Od+SmI+Pe9G+wB04mN/lABAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvznEZ3DxAAEkyrNXFOLE8HsH/u9XCvvJsHZAtWpYPbROQ6uuRIQNYue6rr+14WoOd/50yVrURqYXXBI2VUnDqHGxjMJrvfGWwg7IUzHNWYJhG07X9LVIjoBruZfZDLcPVd3INxgUIlgN8lCzPflFnQNX5sEV//3VjLc3svrE+DqF6sj3HDQKgnuzt+pKXDxY1cQbq7NTIKznech1PsqJcLZeosRagDI7oKiUAEAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEANP8cWfbwnd3PBgYDvznEZ3DxAAETuG77VKLE8Hs7Y629pV3k8DsX42W9gLVqWC2hedhu1wJiBpPSSv7/7oQNU7y6+wKT6WB2Q9bP9mpmkHUPM4ztLfxhKh5pRNkf+MthJ273tc+ZgmE/e3ADrvCpgQw+xJ3hP1Ro2QwW2j5PvurOyBq2Pys7Q0qIewPTC32TbIQ8yX6Z9iHr4WIG93St2dnSgGzf36aZX+yA2Jmn89C+8XqEDXnRYrsD1pB2Ms3pNn/ToWo19+bYH/sCsRMn5mc9pWTIGpYOFrt3Ush7LYcGXtfJYiaIIGtdnqLIeLHb9XbAwAb34b0UAEAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAEuXvbdt4bs7HgwMB/6fez+LiQEI4sN0XFOLE8Hso3McXCvvJoHZkyrNXAWqU+HiuRIQNYue6rr+10WoKTyVBmYLdqm4qppB1MQpaLjaeCbBzb/xNgluTswSCNt2vqRrYVMCXPyoUTKY/WO/l+vVHQj1BpUIdpMsxHxfbkHX8LUIN7AzpcD1nuxIgLMXqyPUHLRC2Ps7NQVu5rEriXDxykkQNS5r9VzdSyFsG6C4rxLC73qLIeIFh5RdAd7uCalQAQAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAEuXvbdt4bs7HgwMB/6fez+LiQEIlNbutUstTgSz57mx2lfeTQKz3SRF7QWqU8HsDuNldrkSEDU81d72/3Uhauq+f7ErPJUGZts7b7BTNYOocfORsLfxhKg5YVVkf+MthL1Xp8w+ZgmEfd78gl1EawKYbaCUZq8clgxmX+Xdaz9hEkRNt1KBvUElhJ2kv8S+SRZi/tcby+zD10LEGf9G2bMzpYDZ129W2J/sgJiZfb/DfrE6RM3x1Un2B60gbCGJcPvfqRD1HfFh9seuQMycIslkXwm195dNub17KYT9M4TF3lcJokbgSI+d3mKI+NufqfYAkTBT0VABAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAEuXvbdt4bs7HgwMB/6fez+LiQEIdI2VXFOLE8Hs+DAd18q7SXBxgepUMPvoHAfXXAmImkVPdV3/60LU/Njv5Vp4Kg3MnlRp5qpqlggXt/FMgovfeItgxyyBsAsOKbtGtCbA1SuHJcPtmjAJYb5BZRJcvEkWYr7iN2nX8LUI8eJNauww9kEriLjtfEnX36kpcDXHriTC3VA5CeEe91II2wao3lcpEe42vcUIcwCWsNd4OAEAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAEuXvbdt4bs7HgwMB/6fez+LiQEI0u5b2acWJ4LZeRu87SvvJoHZAt8D7PkXpYLZ1+rf2+V9TACzn82Ntv+vC1HzJ/G0XeGpNDC77NRnO1UziDk1DwLsUwsgaj6bNtkffQthpxw0sHerhbA3p7+yi2iFmDntfKt9YmQymC249ap9UD9EzeSJ2fYGlRD2C8U59k2yEPPTfiyyD18LEY/lyLIX1EwBs6+e6bXfnwgxU8xjpf1idYiajEvN9getIOycsiz736kQ9azf/O2PXYGYeTKF1b5yEkTNvn1l9u6lEPZsKxF7XyWImizzNXZ6iyHihsqp9gDrtZaoUAEAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAEuXvbdt4bs7HgwMB/6fez+LiQEIJlWauaYWJ4LZP/Z7uVbeTYKL8y9KBbOPznFwzfuYAGYveqrr+l8XoabwVBqcrWqGMCe1AKHm6FsE260WwradL+ka0ZoANz8xMhmuN6g/CS5uUInQ2ySbCHdD+FqEGkHNFDh7f2IC3JzF6gg1B60Q9v5ORag/diURbn7lJIR691IIe6KzkauvEkSNDVCv3mKIeMEhZVcAcjC9iFABAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAOOKu79t4bs7HgwMB/77HZzJxAAE985y2DslJoLZeyZz2n9mTgaz1XWc7adWp4LZV9X+2eV9TACzDc3N7P/rJoHZu5lP2hWeSgOzzV6r2KuaQczZeMTdPrUAouZaa6f90bcQ9s1oQ3u3Wgg7RZ7fPqIVYqaUp6Z9YiTEXtdri+yD+iFq/iyXsTeohLC5Ezvtm2Qh5n9qmW0fvhYirt4cay+omQJmH5+SZr8/EWJmpWmn/WJ1iJomyxD7g1YQtpiFk/3vVIj6+SvC7Y9dgZjZ91rCvnISRM0mXXN791II+8EqJntfJYiaIw69dnqLIeJdP/3tAdS3zaZQAQAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAOOKu79t4bs7HgwMB/77HZzJxAAEkyrNXJ0SE+Hsz8zJYPbROQ6uxan9nDC2qhlEzY/9Xq6pBUlwNUffQti6xkqubrUQdpyChmtEawJcfWJkMtz8oP4kuLhBJcKcJlmE+eFrEeKCmilw8f2JCXDxxepJcDMPWkHYBYeUXX+npsDFj12BmBkfpuNaOQmh3r0UYb6vEkTNoqe6rnqLEeYAADqnFk4sAQAA" />
  </appSettings>
</configuration>