<body>
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <h1 class="display-1">Add New Station</h1>
            <p class="lead">Register a new petrol station.</p>

            <div class="bg-white border rounded p-3">
                <form method="post" action="/admin/add-station">
                    <div class="row g-3" style="margin-bottom:30px">
                        <h3>Station Details</h3>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="name" required>
                                <label for="floatingInputGrid">Station Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="location" required>
                                <label for="floatingInputGrid">Location</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3" style="margin-bottom:30px">
                        <h3>Premium Fuel</h3>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="premium" required>
                                <label for="floatingInputGrid">Price</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="premiumCap" required>
                                <label for="floatingInputGrid">Tank Capacity</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="premiumThreshold" required>
                                <label for="floatingInputGrid">Fuel Threshold</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3" style="margin-bottom:30px">
                        <h3>Super Fuel</h3>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="super" required>
                                <label for="floatingInputGrid">Price</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="superCap" required>
                                <label for="floatingInputGrid">Tank Capacity</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="superThreshold" required>
                                <label for="floatingInputGrid">Fuel Threshold</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-3" style="margin-top:15px">
                        <input type="hidden" name="token" value="{{csrfToken}}">
                        <div class="col-md-3">
                            <a href="/admin/manage-stations" class="btn btn-light">Go Back</a>
                            <input type="submit" class="btn btn-primary" tabindex="-1" role="button" value="Add Station">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>