<body>
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <h1 class="display-1">Add New User</h1>
            <p class="lead">Register a new account.</p>

            <div class="bg-white border rounded p-3">
                <form method="post">
                    <div class="row g-3" style="margin-bottom:30px">
                        <h3>User Details</h3>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="name" required>
                                <label for="floatingInputGrid">Name</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingInputGrid" name="password" required>
                                <label for="floatingInputGrid">Password</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="floatingInputGrid" name="phone_number" required>
                                <label for="floatingInputGrid">Phone Number</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInputGrid" name="email" required>
                                <label for="floatingInputGrid">Email</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                            <a href="/" class="btn btn-light">Go Back</a>
                            <input type="submit" class="btn btn-primary" tabindex="-1" role="button">
                            </div>
                        </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</body>